.idea
.DS_Store

coverage

tsconfig.tsbuildinfo
.eslintcache
*.log
**/*.local

**/node_modules/

packages/**/dist

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored but nested for e2e directories
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
