.idea
.DS_Store
**/_ignore-*/

coverage

tsconfig.tsbuildinfo
.eslintcache
*.log
**/*.local

**/node_modules/

apps/**/dist
libs/**/dist
shared/**/dist
tools/**/dist

# ========== Yarn ==========

# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored but nested for e2e directories
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Uncommeth these lines if you're using Zero-Installs
# !.yarn/cache

# Uncommeth these lines if you're NOT using Zero-Installs
.pnp.*

# ========== Yarn ==========
